---
id: {{ .Pokemon.ID }}
title: {{ .Pokemon.Name }}
---

import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

<img align="right" src="{{- .Pokemon.Sprites.Other.OfficialArtwork.FrontDefault -}}"/>

|Pokédex ID|Type|Height|Weight|Abilities|
|-|-|-|-|-|
|{{- .Pokemon.ID -}} |{{- range $type := .Pokemon.Types -}} {{ $type.Type.Name }} {{ end -}} |{{- .Pokemon.Height -}}| {{- .Pokemon.Weight -}}|{{- range $ability := .Pokemon.Abilities -}} {{- if not $ability.IsHidden -}} {{ $ability.Ability.Name }}  {{- end -}} {{ end -}}|

{{- if .Evolution.Chain.EvolvesTo -}}
# Evolutions
<Tabs>
  {{- range $evolvesTo := .Evolution.Chain.EvolvesTo}}
  <TabItem value="{{ $.Pokemon.Name }}" label="{{ $.Pokemon.Name }}" default>
    <img src="{{- $.Pokemon.Sprites.FrontDefault -}}"/>
    <p>{{- range $entry := $.Species.FlavorTextEntries -}} {{- if eq "en" $entry.Language.Name -}} {{- if eq (index $.Pokemon.GameIndices 0).Version.Name $entry.Version.Name -}} {{$entry.FlavorText}} {{- end -}} {{- end -}} {{- end -}}</p>
  </TabItem>
  {{- end -}}
  <TabItem value="quilava" label="quilava">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/156.png"/>
    <p>Be careful if it turns its back during battle. It means that it will attack with the fire on its back.</p>
  </TabItem>
  <TabItem value="typhlosion" label="typhlosion">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/157.png"/>
    <p>If its rage peaks, it becomes so hot that anything that touches it will instantly go up in flames.</p>
  </TabItem>
</Tabs>
{{- end -}}